version: 2.0
jobs:
  build:
    docker:
      - image: circleci/elixir:1.8
    working_directory: ~/app
    steps:
      - checkout
      - run: mix local.hex --force
      - run: mix deps.get
      - run: mix docs
